body {
  background-image: none;
  overflow: hidden;
  background-color: #FFF;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#loadingCircle.loaded, #loadingCircle.loaded:before, #loadingCircle.loaded:after {
  opacity: 0;
}

#loadingCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFF;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

#loadingCircle:before, #loadingCircle:after {
  position: absolute;
  content: "";
  display: block;
  transition: .5s;

  opacity: 0;
}

@keyframes showLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

#loadingCircle:before {
  width: 20px;
  height: 27px;
  background-image: url("../img/cape_loader.png");
  background-size: 20px;

  transform-style: preserve-3d;
  transform-origin: 10px 0;
  transform: rotateY(30deg) rotateZ(-10deg) rotateX(0deg) translateX(-10px);

  animation-name: loaderCape, showLoader;
  animation-duration: 2s, 100ms;
  animation-timing-function: cubic-bezier(.5,0,.5,1);
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse, normal;
  animation-fill-mode: both, forwards;
}

@keyframes loaderCape {
  0% {
    transform: rotateY(30deg) rotateZ(-10deg) rotateX(0deg) translateX(-3px) translateY(-2px) scale(1.2);
  }
  100% {
    transform: rotateY(30deg) rotateZ(-10deg) rotateX(10deg) translateX(-3px) translateY(-2px) scale(1.2);
  }
}

#loadingCircle:after {
  width: 6em;
  height: 6em;
  border-width: 1px;
  border-style: solid;
  border-color: black transparent;
  border-radius: 100%;

  animation-name: loaderSpin, showLoader;
  animation-duration: 1s, 100ms;
  animation-timing-function: linear, cubic-bezier(.5,0,.5,1);
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#capeEditor, #patternEditor {
  height: 100%;
}

#drawer, #patternEditor {
  max-width: 364px;
  min-width: 316px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drawer > *, #patternEditor > * {
  margin: 0.5em 0;
}

#patternEditor {
  position: absolute;
  background-color: #FFF;
}

#patternEditor h3 {
  margin: 0.25em;
}

#patternSelector {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden scroll;
}

#patternSelector .pattern {
  height: 80px;
  width: 50px;
  display: inline-block;
  background-position: -5px -5px;
  background-size: 230px;
  cursor: pointer;
  border: 1px solid #313E7C;
  transition: 100ms;

  margin: 0 0.25em 0.25em 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#patternSelector .pattern.patternSelected {
  background-color: #313E7C;
}

#patternSelector .pattern > input {
  display: none;
}

#colorH, #colorS, #colorV {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .5em;
  outline: none;
  padding: 0.25em 0;
  margin: .5em 0;
}

#colorH::-webkit-slider-thumb, #colorS::-webkit-slider-thumb, #colorV::-webkit-slider-thumb, #colorH::-moz-range-thumb, #colorS::-moz-range-thumb, #colorV::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 1.25em;
  background: transparent;
  cursor: pointer;
  border: 4px solid #313E7C;
  border-radius: 0;
}

#colorH {
  background: linear-gradient(90deg, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF, #FF00FF, #FF0000);
}

#layers {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#layers > * {
  width: auto;
}

.layer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.layer > input:not(:disabled)[type="checkbox"] {
  cursor: pointer;
}

.layerGrab {
  width: 16px;
  background-image: radial-gradient(#313E7C 30%, transparent 20%);
  background-position: -1px -1px;
  background-size: 6px 6px;
}

.layer, #addLayer {
  min-height: 32px;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #313E7C;

  font-size: 14px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#addLayer.cannotAdd {
  border: 1px solid #A82F2F;
  color: #A82F2F;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#addLayer.cannotAdd:after {
  content: "Maximum amount of layers reached.";
  margin: 0 32px;
}

#addLayer.canAdd {
  cursor: pointer;
  transition: 100ms;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #313E7C;
}

#addLayer.canAdd:hover {
  background-color: #FFF;
}

#addLayer.canAdd:before {
  content: "+";
  position: relative;
  color: #FFF;
  transition: 100ms;
  font-size: 20px;
}

#addLayer.canAdd:hover:before {
  color: #313E7C;
}

.layerOver {
  border: 1px dashed #313E7C;
}

.layerOver > *, .layerDrag {
  pointer-events: none;
}

.layer:not(#baseLayer) {
  cursor: grab;
}

.itembar > *, .itembar-spaced > * {
  margin: 10px 0;
  margin-right: 10px;
}

.itembar-spaced > *:first-child {
  margin-left: 10px;
}

.itembar-spaced > *:last-child {
  margin-right: 10px;
}

.itembar:not(.itembar-spaced) > *:last-child {
  margin-right: 0;
}

.layer span {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.patternPreview {
  width: 20px;
  height: 32px;
  background-position: -2px -2px;
  background-size: 92px;
  border: 1px solid #313E7C;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#hexcolor {
  border: 1px solid #313E7C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hexcolor span {
  color: #313E7C;
  position: absolute;
  margin: 0.25em;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hexcolor input {
  border: none;
  padding: 0.33em;
  padding-left: 1em;
  text-transform: uppercase;
  text-align: right;
}

#presets {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
}

.editor-input {
  display: none;
}

.editor-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.editor-button.half {
  height: 10px;
  box-sizing: content-box;
}

.vertical-button-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.layer:nth-child(2) .vertical-button-wrapper .editor-button:first-child {
  opacity: 0;
  pointer-events: none;
}

.layer:nth-last-child(2) .vertical-button-wrapper .editor-button:last-child {
  opacity: 0;
  pointer-events: none;
}

.editor-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: #FFF;
  background-color: #313E7C;
  border: 1px solid #313E7C;
  transition: 100ms;
  font-size: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editor-button:hover {
  color: #313E7C;
  background-color: #FFF
}

.editor-toolbar .editor-button {
  flex-grow: 1;
}

/* 3D Renderer, THREE.js */

#viewport {
  margin-left: .75em;
  overflow: hidden;
}

#viewport, #viewport canvas {
  width: 100%;
  height: 100%;
}

#viewport canvas {
  cursor: grab;
}

#renderTime {
  position: absolute;
  padding: .5em;
  color: rgb(125,125,125);
  background-color: rgba(255,255,255,0.75);
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}