#capeEditor {
  width: 600px;
  padding: .5em;
  margin: 1em;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  opacity: 1;
  transition: .5s;
}

#capeEditor.unloaded {
  opacity: 0;
}

#capeEditor, #patternSelector {
  height: 400px;
}

#drawer, #patternSelector {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#drawer > *, #patternSelector > * {
  padding: 0.5em;
}

#patternSelector {
  position: absolute;
  background-color: #FFF;
}

#layers {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layer, #addLayer {
  height: 32px;
  padding: 0.5em 0;
  margin: 0.5em 0;
  border: 1px solid #313E7C;

  font-size: 14px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#addLayer.cannotAdd {
  border: 1px solid #A82F2F;
  color: #A82F2F;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#addLayer.cannotAdd:after {
  content: "Maximum amount of layers reached.";
  width: 60%;
}

#addLayer.canAdd {
  cursor: pointer;
  transition: 100ms;
  display: grid;
  justify-items: center;
  align-items: center;
}

#addLayer.canAdd:hover {
  background-color: #313E7C;
}

#addLayer.canAdd:before, #addLayer.canAdd:after {
  content: "";
  position: relative;
  background-color: #313E7C;
  transition: 100ms;
  grid-column: 1;
  grid-row: 1;
}

#addLayer.canAdd:hover:before, #addLayer.canAdd:hover:after {
  background-color: #FFF;
}

#addLayer.canAdd:before {
  width: 1px;
  height: 1em;
}

#addLayer.canAdd:after {
  width: 1em;
  height: 1px;
}

.layerOver {
  border: 1px dashed #313E7C;
}

.layerOver > *, .layerDrag {
  pointer-events: none;
}

.layer:not(#baseLayer) {
  cursor: grab;
}

.layer > * {
  margin: 0.5em;
}

.layer span {
  flex-grow: 1;
}

.patternPreview {
  width: 20px;
  height: 32px;
  background-position: -2px -2px;
  background-size: 92px;
  border: 1px solid #313E7C;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#hexcolor input {
  text-transform: uppercase;
}

#presets {
  margin: 0.5em;
  padding: 0.5em;
}

.editor-input {
  display: none;
}

.editor-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#flip:checked ~ #drawer .editor-toolbar label[for="flip"],
#shade:checked ~ #drawer .editor-toolbar > label[for="shade"],
#enable3d:checked ~ #drawer .editor-toolbar > label[for="enable3d"] {
  background-color: #313E7C;
  color: #FFF;
}

.editor-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0.5em;
  cursor: pointer;
  color: #313E7C;
  border: 1px solid #313E7C;
  transition: 100ms;
  font-size: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 3D Renderer */

#wrapper3D {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#renderTime {
  position: absolute;
  margin: 1em;
  color: rgba(0,0,0,.25);
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#viewport {
  width: 32px;
  height: 32px;
  transform: scale(10);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6em;
  pointer-events: none;
  flex-grow: 1;
}

#viewport > div {
  position: relative;
}

#enable3d:checked ~ #wrapper3D #viewport > div {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 250ms;
}

#enable3d:not(:checked) + #flip:checked ~ #wrapper3D #viewport > div {
  transform: rotateY(180deg);
}

#enable3d:checked + #flip:not(:checked) ~ #wrapper3D #viewport > div {
  transform: rotateY(30deg) rotateZ(-10deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
}

#enable3d:checked + #flip:checked ~ #wrapper3D #viewport > div {
  transform: rotateY(210deg) rotateZ(10deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
}

.capeTex {
  background-color: #FFF;
}

.cape, .elytra {
  filter: blur(0.0px);
  position: absolute;
  float: left;
  background-size: 46px;

  /* transition: 250ms; */

  outline: 1px solid transparent;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#enable3d:not(:checked) + #flip:checked ~ #wrapper3D #capeBack,
#enable3d:not(:checked) + #flip:not(:checked) ~ #wrapper3D #capeFront,
#enable3d:not(:checked) + #flip:checked ~ #wrapper3D #elytraBack,
#enable3d:not(:checked) + #flip:not(:checked) ~ #wrapper3D #elytraFront {
  z-index: 1;
}

/* Capes */

#capeOrigin {
  width: 10px;
  height: 16px;
}

#capeTop {
  display: none;
  width: 10px;
  height: 1px;
  background-position: -1px 0;
}

#capeRight {
  display: none;
  width: 1px;
  height: 16px;
  background-position: 0px -1px;
}

#capeFront {
  width: 10px;
  height: 16px;
  background-position: -1px -1px;
}

#capeLeft {
  display: none;
  width: 1px;
  height: 16px;
  background-position: -11px -1px;
}

#capeBack {
  width: 10px;
  height: 16px;
  background-position: -12px -1px;
  transform:  rotateY(180deg) translateZ(1px);
}

#capeBottom {
  display: none;
  width: 10px;
  height: 1px;
  background-position: -11px 0px;
}

#enable3d:checked ~ #wrapper3D #capeTop {
  display: block;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-0.5px) translateZ(0.5px) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #capeRight {
  display: block;
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateX(-0.5px) translateY(0px) translateZ(0.5px) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #capeFront {
  transform: scale(1.005);
}

#enable3d:checked ~ #wrapper3D #capeLeft {
  display: block;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateX(0.5px) translateY(0px) translateZ(9.5px) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #capeBack {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(1px) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #capeBottom {
  display: block;
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(180deg) translateX(0px) translateY(-0.5px) translateZ(15.5px) scale(1.005);
}

/* Elytra */

#elytraOrigin {
  width: 10px;
  height: 20px;
}

#elytraTop {
  display: none;
  width: 10px;
  height: 2px;
  background-position: -24px 0;
}

#elytraRight {
  display: none;
  width: 2px;
  height: 20px;
  background-position: -34px -2px;
}

#elytraFront {
  width: 10px;
  height: 20px;
  background-position: -36px -2px;
}

#elytraLeft {
  display: none;
  width: 2px;
  height: 20px;
  background-position: -22px -2px;
}

#elytraBack {
  width: 10px;
  height: 20px;
  background-position: -24px -2px;
  transform: rotateY(180deg) translateZ(1px);
}

#elytraBottom {
  display: none;
  width: 10px;
  height: 2px;
  background-position: -34px 0;
}

#enable3d:checked ~ #wrapper3D #elytraTop {
  display: block;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg) translateX(0px) translateY(2px) translateZ(1px) scale(1, 2) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #elytraRight {
  display: block;
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateX(-2px) translateY(0px) translateZ(1px) scale(2, 1) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #elytraFront {
  transform: scale(1.005);
}

#enable3d:checked ~ #wrapper3D #elytraLeft {
  display: block;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateX(2px) translateY(0px) translateZ(9px) scale(2, 1) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #elytraBack {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(2px) scale(1.005);
}

#enable3d:checked ~ #wrapper3D #elytraBottom {
  display: block;
  transform: rotateX(-90deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(2px) translateZ(-19px) scale(1, 2) scale(1.005);
}