#playerName {
  padding: .5em .75em;
  margin: 1em;
  text-align: center;
}

#playerName:placeholder-shown ~ #capeEditorFrame {
  filter: grayscale();
  pointer-events: none;
}

#playerName:invalid {
  color: #A82F2F;
  outline: 1px solid #A82F2F;
  border: 1px solid #A82F2F;
  background-color: #FFE5E5;
}