@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../font/Quicksand-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100vh;
}

body {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-image: url('../img/snow.png');
  background-size: 400px;
  background-position: -50px 50px;
  background-attachment: fixed;
  color: #0C0F1E;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 2px;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
a {
  color: #313E7C;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 4em;
  font-family: "Quicksand", arial, helvetica, sans-serif;
  margin: 0.25em 0;
}

h2 {
  font-weight: 500;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 0.3em;
  text-align: center;
}

ol, ul {
  width: 500px;
  padding: 0;
}

ol {
  list-style: none;
  counter-reset: item;
}

ul {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol > li:before {
  content: counter(item) ".";
  font-weight: 1000;
  font-size: 32px;
  margin: 0.25em;
  margin-right: 0.5em;
}

ol li, ul li {
  display: flex;
  align-items: center;
  margin: 1em;
  line-height: 1.2em;
}

li ol li, li ul li {
  margin: .5em;
}

#header, #footer {
  width: 100%;
  display: flex;
  background-color: #313E7C;
}

#header {
  height: 5em;
  justify-content: space-between;
}

#wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  min-width: 700px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px #96a0c5;
}

#optifine {
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family: 'Oswald', arial, helvetica, sans-serif;
  font-size: 300%;
  font-weight: bold;
  transition: 100ms;
}

#optifine:hover, #optifine:focus {
  background-color: #fff;
}

#optifine a {
  width: 100%;
  text-align: center;
  color: #fff;
  transition: 100ms;
  padding: 0 0.5em;
}

#optifine:hover > a, #optifine:focus > a {
  color: #313E7C;
}

#nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1.5em;
}

#nav a, #footer a {
  color: #fff;
  padding: 0.5em 1em;
  transition: 100ms;
  margin: 0 1px;
}

#nav a:hover, #footer a:hover, #nav a:focus, #footer a:focus {
  color: #313E7C;
  background-color: #fff;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

#footer {
  height: 3em;
  align-items: center;
  justify-content: center;
}

.largeButton {
  background-color: #313E7C;
  color: #fff;
  padding: 0.5em 2em;
  font-size: 1.5em;
  box-shadow: 0 0 0 1px #313E7C inset;
  text-align: center;
  transition: 100ms;
}

.largeButton:hover, .largeButton:focus {
  background-color: transparent;
  color: #313E7C;
}

#capeEditorFrame {
  padding: .5em;
  margin: 1em;
}

#capeEditorFrame iframe {
  border: 0;
  width: 700px;
  height: 450px;
}